@model IEnumerable<FilmsDomain.Model.Preorder>

@{
    ViewData["Title"] = "Index";
}

<h1>Мої замовлення</h1>
        

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </th>
			<th>
				@Html.DisplayNameFor(model => model.Film.Name)
			</th>
            <th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
                @Html.DisplayNameFor(model => model.PreorderDate)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Film.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreorderDate)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("user") && item.Status == null)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }

                </td>
            </tr>
        }


	</tbody>
</table>
<form asp-controller="Preorders" asp-action="Order" method="post">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <input type="hidden" name="preordersId[@i]" value="@Model.ElementAt(i).Id" />
    }
    <input type="submit" value="Замовити фільми" class="btn btn-primary" />
</form>
